<br/>
<h4 class="text-center">Player Table</h4>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Name" [(ngModel)]="term">
</div>
<table class="table hoverTable">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th  scope="col" *ngFor="let weekIndex of eventinfo.weeks;">Week {{weekIndex}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of playerList | filter:term;">
            <td>{{player.name}}</td>
            <td *ngFor="let weekIndex of eventinfo.weeks"  [ngClass]="getResultClass(player, weekIndex)"><img [src]="getTeamLogo(player, weekIndex)"> {{getPlayerPick(player, weekIndex)}}</td>   
        </tr>
    </tbody>
</table>