:host {         
    display: block;
    width: 100%;      
}


th,
td {
    text-align: center;
}

.winningPick {
    background-color: limegreen;
}

.losingPick {
    background-color: lightcoral;
}

.player-heading,
.round-heading
.text-label{
    font-size: 1.3em;
}

.player-heading {
    color: blue;
}
.round-heading {
    color: crimson;
}

@media screen and (max-width: 767px) {
    img {
        height: 14px;
    }

    td{
        font-size: 0.45em;
    }

    th{
        font-size:0.45em;
    }

    .text-label {
     font-size: 0.5em;
    }

    .player-heading {
        font-size:0.6em;
    }
    .round-heading {
        font-size:0.6em;
    }

    table {
        max-width: 100%;
        table-layout:fixed;
    }

    .heading {
        font-size: 0.75em;
    }

}