<br/>
<h4  class="text-center">Prizes</h4>

<table class="table hoverTable text-center"> 
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Prize</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1st Place</td>
            <td>€200</td>   
        </tr>
        <tr>
            <td>2nd Place</td>
            <td>€100</td>   
        </tr>
        <tr>
            <td>3rd Place</td>
            <td>€50</td>   
        </tr>
        <tr>
            <td>4th Place</td>
            <td>Signed County Jersey</td>   
        </tr>
    </tbody>
</table>
