<br/>
<h4 class="text-center">Gameweek {{currentRound.round}}</h4>
<h3 class="text-center">Deadline : {{deadline}} </h3>
<table class="table hoverTable gameweek-table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th></th>
            <th scope="col">Home</th>
            <th scope="col"></th>
            <th scope="col">Away</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of currentRound.matches;">
            <td>{{getDateTime(match.matchDateTime)}}</td>
            <td><img [src]="getTeamLogo(match.contestants[0])"></td>
            <td>{{getTeamName(match.contestants[0])}}</td>
            <td>VS</td>   
            <td>{{getTeamName(match.contestants[1])}}</td> 
            <td><img [src]="getTeamLogo(match.contestants[1])"></td>
        </tr>
    </tbody>
</table>
