<br/>
<div>
    <div >
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple">
                <h3 style="color: white"> Loading Matches... </h3>
        </ngx-spinner>
    </div>

    <h4 class="heading text-center">Gameweek {{currentRound.round}}</h4>
    <!-- <h3 class="heading text-center">Deadline : {{deadline}} </h3> -->
    <h3 class="heading text-center">Deadline : {{eventinfo.nextDeadline}} </h3>
    <table class="table hoverTable gameweek-table">
        <thead>
            <tr>
                <th colspan="2" scope="col">Date</th>
                <th></th>
                <th colspan="2" scope="col">Home</th>
                <th scope="col"></th>
                <th colspan="2" scope="col">Away</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of currentRound.matches;">
                <td colspan="2">{{getDateTime(match.matchDateTime)}}</td>
                <td><img [src]="getTeamLogo(match.contestants[0])"></td>
                <td colspan="2">{{getTeamName(match.contestants[0])}}</td>
                <td>VS</td>   
                <td colspan="2">{{getTeamName(match.contestants[1])}}</td> 
                <td><img [src]="getTeamLogo(match.contestants[1])"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
